.logoPagina {
  margin-left: 5%;
  height: 40px;
  cursor: pointer;
}
.btnNuevoVideo {
  margin-right: 5%;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  width: fit-content;
  text-align: center;
}
.btnBorrarCache {
  margin-right: 5%;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  width: fit-content;
  text-align: center;
}
.btnBorrarCache:hover {
  background-color: rgba(177, 18, 18, 0.595);
  color: #fff;
}
.btnNuevoVideo:hover {
  background-color: #2b8fbeb9;
  color: #fff;
}
.headerNav {
  background-color: transparent;
  align-items: center;
  text-align: center;
  transition: background-color 0.4s ease;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 66px;
}
.sticky-header {
  top: 0;
  position: fixed;
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.4s ease;
  width: 100%;
  z-index: 99;
}
.btnVolver {
  background: transparent;
  border: none;
}
.btnVolverIcono {
  color: #db202c;
  height: 40px;
}
/* @media screen and (max-width: 768px) {
  .sticky-header{
    
  }
} */
