.BackendSection {
  background-color: #141414;
  display: flex;
  color: #fff;
  justify-content: flex-start;
  padding: 20px 0px 0px 20px;
  align-items: center;
  gap: 30px;
}
.tituloBack {
  background-color: #00c86f;
  padding: 10px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 25px;
  width: fit-content;
}
.spanBack {
  font-size: 18px;
  width: fit-content;
  font-weight: 300;
}
.backVideos {
  background-color: #141414;
  padding-left: 30px;
}
@media screen and (max-width: 768px) {
  .spanBack{
    font-size: 12px;
  }
  .backVideos{
    height: 100%;
    width: 270px;
  }
}