.contenedorVideos {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-wrap: nowrap;
}
.frontVideos {
  background-color: #141414;
  padding-top: 30px;
  overflow: hidden;
  padding-left: 30px;
}
.carousel {
  display: flex;
  flex-wrap: nowrap;
}
.video {
  min-width: 30%;
}
.frontColVideos {
  height: 200px;
  width: 100%;
  margin-right: 0 !important;
  object-fit: contain;
}
.frontColVideos:hover {
  scale: 1.1;
  transition: 0.3s ease-in-out;
}
.contenedorFlechas {
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.flechaIzq {
  color: #fff;
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}
.flechaDer {
  color: #fff;
  height: 30px;
  margin-right: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}
.contenedorFlecha {
  background-color: transparent;
  position: relative;
  z-index: 9;
}
