.contenedorVideos {
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-wrap: nowrap;
}
.FrontendSection {
  background-color: #141414;
  display: flex;
  color: #fff;
  justify-content: flex-start;
  padding: 20px 0px 0px 20px;
  align-items: center;
  gap: 30px;
}
.tituloFront {
  background-color: #00aac8;
  padding: 10px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 25px;
}
.spanBack {
  font-size: 18px;
  font-weight: 300;
}
.frontVideos {
  background-color: #141414;
  padding-top: 30px;
  overflow: hidden;
  padding-left: 30px;
}
.carousel {
  display: flex;
  flex-wrap: nowrap;
}
.video {
  min-width: 30%;
}
.frontColVideos {
  height: 90%;
  width: 100%;
  margin-right: 0 !important;
  object-fit: contain;
}
.frontColVideos:hover {
  scale: 1.1;
  transition: 0.3s ease-in-out;
}
.contenedorFlechas {
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.flechaIzq {
  color: #fff;
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}
.flechaDer {
  color: #fff;
  height: 30px;
  margin-right: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}
.contenedorFlecha {
  background-color: transparent;
  position: relative;
  z-index: 9;
}
@media screen and (max-width: 768px) {
  .spanBack{
    font-size: 10px;
  }
  .frontVideos{
    height: 300px;
  }
  .frontColVideos{
    height: 100%;
    width: 270px;
  }
}