.IyGSection {
  background-color: #141414;
  display: flex;
  color: #fff;
  justify-content: flex-start;
  padding: 20px 0px 0px 20px;
  align-items: center;
  gap: 30px;
}
.tituloIyG {
  background-color: #ff8c2a;
  padding: 10px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 25px;
}

.frontColVideos {
  margin-right: 20px;
}
